div.logotype(
        style="text-align: center; width: 100%;"
    )
    img(
        style="margin-bottom: 28px; width: 120pt; height: 60pt;"
        src="https://instagram.fbaq2-2.fna.fbcdn.net/v/t51.2885-19/84291465_614330092735662_5361383224347983872_n.jpg?stp=dst-jpg_s320x320&_nc_ht=instagram.fbaq2-2.fna.fbcdn.net&_nc_cat=106&_nc_ohc=6pi9ro5cM4QAX-TBK1V&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfDR_xFV7N4P4nMk0CGrFOjv1PkJMPgwV8sB6sigCG0UqQ&oe=640B48F4&_nc_sid=8fd12b")